[submodule "opsworks_sidekiq"]
	path = opsworks_sidekiq
	url = https://github.com/Drakula2k/opsworks_sidekiq
[submodule "opsworks_whenever"]
	path = opsworks_whenever
	url = https://github.com/Drakula2k/opsworks_whenever
